$bc_light: #212C42;

.ChoicePayment {
    margin: 0 auto;
    width: 400px;
    height: 302px;
    border-radius: 20px;
    background-color: white;
    &__content {
        padding: 20px;
    }
    &__close {
        display: flex;
        justify-content: flex-end;
        &_x {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            margin-right: -20px;
            margin-top: -20px;
            cursor: pointer;
        }
    }
    &__header{
        display: flex;
        justify-content: center;
    }
    &__pay {
        margin-top: 24px;
    }
    &__balance {
        margin-top: 20px;
    }
    &__coast {
        margin-top: 8px;
    }
    &__btn {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &_pos1 {
            margin-right: 30px;
        }
    }
}

.Btn_pay {
    padding: 0;
    width: 160px;
}

.Text {
    &__dark {
        color: $bc_light;
    }
}