.SubmitAgain {
    &__path1 {
        margin-top: 24px;
    }
    &__path2 {
        margin-top: 32px;
    }
    &__buttons {
        width: 100%;
        margin-top: 20px;
    }
}

.Btn_options {
    margin-top: 10px;
    width: 100%;
}